{% extends "layout.html" %}

{% block content %}

  <button class="add-contact-button">
    <a href="/addcontact" class="add-contact-link">
      Add Contact
    </a>
  </button>

<div class="contacts-list">

  <div class="contact-header">
    <p>Name</p>
    <p class="flex2">Street</p>
    <p>City</p>
    <p>State</p>
    <p>Zipcode</p>
  </div>
{% for contact in contacts %}
  <div class="contact">
    <p>{{ contact.name }}</p>
    <p class="flex2">{{ contact.street }}</p>
    <p>{{ contact.city }}</p>
    <p>{{ contact.state }}</p>
    <p>{{ contact.zipcode }}</p>
    <form action="{{ url_for('deletecontact', post_id=contact.id) }}" method="POST">
      <input class="delete-button" type="submit" value="Delete">
    </form>
    <image src="{{ url_for('static', filename='images/trash.png') }}" class="trash" />
  </div>
{% endfor %}

</div>
{% endblock %}
